.restaurant-detail {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Change to white background for better contrast */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant-detail h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.restaurant-detail p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #666;
}

.address {
  font-weight: bold;
}

.cuisines,
.cost,
.rating,
.currency {
  font-style: italic;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.restaurant-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.restaurant-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.loading,
.error {
  font-size: 1.5rem;
  color: #999;
}
